src/main/mule/sgst-papvntl1-gitp-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sgst-papvntl1-gitp-sapi-main">
        <http:listener config-ref="sgst-orders-edi-eapi-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sgst-papvntl1-gitp-sapi-config" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="sgst-papvntl1-gitp-sapi-console">
        <http:listener config-ref="sgst-orders-edi-eapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sgst-papvntl1-gitp-sapi-config" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\ar-statements:application\json:sgst-papvntl1-gitp-sapi-config">
        <flow-ref doc:name="sgst-papvntl1-impl-flow" doc:id="e6cd51c6-a9ed-4011-b8ee-987aec569d31" name="sgst-papvntl1-impl-flow" />
    </flow>
    <flow name="post:\fpl:application\json:sgst-papvntl1-gitp-sapi-config">
        <flow-ref doc:name="sgst-papvntl1-impl-flow" doc:id="367bef45-d35e-41b6-bd82-5eaf277b1a79" name="sgst-papvntl1-impl-flow" />
    </flow>
    <flow name="post:\purchase-orders:application\json:sgst-papvntl1-gitp-sapi-config">
        <flow-ref doc:name="sgst-papvntl1-impl-flow" doc:id="236bd807-c577-4489-8097-c8e05c1c5cc0" name="sgst-papvntl1-impl-flow" />
    </flow>
    <flow name="post:\purchase-results:application\json:sgst-papvntl1-gitp-sapi-config">
        <flow-ref doc:name="sgst-papvntl1-impl-flow" doc:id="a7f486fa-1d43-4eed-b3a8-652d6c2d4fe4" name="sgst-papvntl1-impl-flow" />
    </flow>
</mule>
